body {
background:url(../images/38.png) #eee;
}

h1 {
font-size:18px;
font-weight:700;
font-family:Arial,sans-serif;
color:#666;
text-align:center;
text-transform:uppercase;
padding-bottom:10px;
border-bottom:1px solid #ccc;
text-shadow:1px -1px 2px #fff;
margin:50px 0 20px;
}

a {
color:#333;
text-decoration:none;
}

.container {
width:960px;
height:auto;
position:relative;
text-align:left;
padding-bottom:100px;
margin:0 auto;
}

.clear {
clear:both;
}

.portfolio-items li,.portfolio-items h3,.portfolio-items p,.portfolio-items a {
margin:0;
}

.portfolio-container {
width:940px;
margin-left:10px;
margin-right:10px;
}

.portfolio-items {
margin:10px 0;
}

.portfolio-items li {
display:inline-block;
float:left;
list-style:none;
position:relative;
margin:10px;
}

.portfolio-items li img {
display:block;
width:201px;
height:150px;
background:#eee;
border:1px solid #fff;
border-radius:5px;
-moz-border-radius:5px;
-moz-box-shadow:0 0 5px rgba(0,0,0,0.35);
-webkit-box-shadow:0 0 5px rgba(0,0,0,0.35);
padding:6px;
}

.pcv_button{
display:inline-block;
padding:5px 13px!important;
margin:10px 5px!important;
margin-right:0!important;
border:solid 1px #000;
float:right;
background:#7abcff;
background:-moz-linear-gradient(top,#7abcff 0,#60abf8 44%,#4096ee 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#7abcff),color-stop(44%,#60abf8),color-stop(100%,#4096ee));
background:-webkit-linear-gradient(top,#7abcff 0,#60abf8 44%,#4096ee 100%);
background:-o-linear-gradient(top,#7abcff 0,#60abf8 44%,#4096ee 100%);
background:-ms-linear-gradient(top,#7abcff 0,#60abf8 44%,#4096ee 100%);
background:linear-gradient(top,#7abcff 0,#60abf8 44%,#4096ee 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7abcff',endColorstr='#4096ee',GradientType=0);
color:#eee;
font:100% Arial,Helvetica,sans-serif;
text-align:center;
text-shadow:0 1px 0 rgba(55,121,188,.5);
text-decoration:none!important;
vertical-align:middle;zoom:1;*display:inline;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 1px 0 rgba(0,0,0,.1),inset 0 1px 0 rgba(255,255,255,.5),inset 0 -1px 0 rgba(255,255,255,.3);-moz-box-shadow:0 1px 0 rgba(0,0,0,.1),inset 0 1px 0 rgba(255,255,255,.5),inset 0 -1px 0 rgba(255,255,255,.3);box-shadow:0 1px 0 rgba(0,0,0,.1),inset 0 1px 0 rgba(255,255,255,.5),inset 0 -1px 0 rgba(255,255,255,.3)
}
.pcv_button:hover{background:#469cf2}

.pcv_button.yellow{
border-color:#edad14;
background:#ffe20b;
background:-moz-linear-gradient(top,#fff21e 0,#ffd901 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff21e),color-stop(100%,#ffd901));
background:-webkit-linear-gradient(top,#fff21e 0,#ffd901 100%);
background:-o-linear-gradient(top,#fff21e 0,#ffd901 100%);
background:-ms-linear-gradient(top,#fff21e 0,#ffd901 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff21e',endColorstr='#ffd901',GradientType=0);
background:linear-gradient(top,#fff21e 0,#ffd901 100%)}
.pcv_button.yellow:hover{background:#fff21e}

.pcv_button.orange{
border-color:#a3620a;
background:#f9800f;
background:-moz-linear-gradient(top,#ff9a22 0,#f46e01 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ff9a22),color-stop(100%,#f46e01));
background:-webkit-linear-gradient(top,#ff9a22 0,#f46e01 100%);
background:-o-linear-gradient(top,#ff9a22 0,#f46e01 100%);
background:-ms-linear-gradient(top,#ff9a22 0,#f46e01 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9a22',endColorstr='#f46e01',GradientType=0);
background:linear-gradient(top,#ff9a22 0,#f46e01 100%);
color:#fff!important;
text-shadow:0 -1px 0 rgba(0,0,0,.4)
}
.pcv_button.orange:hover{background:#ff9a22}

.pcv_button.blue{
border-color:#0076a9;
background:#4eb2f4;
background:-moz-linear-gradient(top,#4eb2f4 0,#207ce5 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#4eb2f4),color-stop(100%,#207ce5));
background:-webkit-linear-gradient(top,#4eb2f4 0,#207ce5 100%);
background:-o-linear-gradient(top,#4eb2f4 0,#207ce5 100%);
background:-ms-linear-gradient(top,#4eb2f4 0,#207ce5 100%);
background:linear-gradient(top,#4eb2f4 0,#207ce5 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4eb2f4',endColorstr='#207ce5',GradientType=0);
color:#fff!important;
text-shadow:0 -1px 0 rgba(0,0,0,.4)}
.pcv_button.blue:hover{background:#499bea}

.pcv_button.lightblue{
border-color:#0076a3;
background:#49b3fc;
background:-moz-linear-gradient(top,#76c7ff 0,#1da0fa 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#76c7ff),color-stop(100%,#1da0fa));
background:-webkit-linear-gradient(top,#76c7ff 0,#1da0fa 100%);
background:-o-linear-gradient(top,#76c7ff 0,#1da0fa 100%);
background:-ms-linear-gradient(top,#76c7ff 0,#1da0fa 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#76c7ff',endColorstr='#1da0fa',GradientType=0);
background:linear-gradient(top,#76c7ff 0,#1da0fa 100%);
color:#fff!important;
text-shadow:0 -1px 0 rgba(0,0,0,.4)
}
.pcv_button.lightblue:hover{background:#76c7ff}

.pcv_button.darkblue{
border-color:#1c2e4d;
background:#446693;
background:-moz-linear-gradient(top,#446693 0,#192b49 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#446693),color-stop(100%,#192b49));
background:-webkit-linear-gradient(top,#446693 0,#192b49 100%);
background:-o-linear-gradient(top,#446693 0,#192b49 100%);
background:-ms-linear-gradient(top,#446693 0,#192b49 100%);
background:linear-gradient(top,#446693 0,#192b49 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#446693',endColorstr='#192b49',GradientType=0);
color:#fff!important;
text-shadow:0 -1px 0 rgba(0,0,0,.4)
}
.pcv_button.darkblue:hover{background:#436490}

.pcv_button.green{
border-color:#4e7521;
background:#76ab3b;
background:-moz-linear-gradient(top,#90c356 0,#649a27 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#90c356),color-stop(100%,#649a27));
background:-webkit-linear-gradient(top,#90c356 0,#649a27 100%);
background:-o-linear-gradient(top,#90c356 0,#649a27 100%);
background:-ms-linear-gradient(top,#90c356 0,#649a27 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#90c356',endColorstr='#649a27',GradientType=0);
background:linear-gradient(top,#90c356 0,#649a27 100%);
color:#fff!important;
text-shadow:0 -1px 0 rgba(0,0,0,.4)
}
.pcv_button.green:hover{background:#90c356}

.pcv_button.limegreen{
border-color:#5e7e00;
background:#b9c701;
background:-moz-linear-gradient(top,#b9c701 0,#678700 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#b9c701),color-stop(100%,#678700));
background:-webkit-linear-gradient(top,#b9c701 0,#678700 100%);
background:-o-linear-gradient(top,#b9c701 0,#678700 100%);
background:-ms-linear-gradient(top,#b9c701 0,#678700 100%);
background:linear-gradient(top,#b9c701 0,#678700 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b9c701',endColorstr='#678700',GradientType=0);color:#fff!important;
text-shadow:0 -1px 0 rgba(0,0,0,.4)
}
.pcv_button.limegreen:hover{background:#a9ba00}

.pcv_button.saddlebrown{
border-color:#7d2906;
background:#bb5a0c;
background:-moz-linear-gradient(top,#bb5a0c 0,#661704 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#bb5a0c),color-stop(100%,#661704));
background:-webkit-linear-gradient(top,#bb5a0c 0,#661704 100%);
background:-o-linear-gradient(top,#bb5a0c 0,#661704 100%);
background:-ms-linear-gradient(top,#bb5a0c 0,#661704 100%);
background:linear-gradient(top,#bb5a0c 0,#661704 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bb5a0c',endColorstr='#661704',GradientType=0);
color:#fff!important;
text-shadow:0 -1px 0 rgba(0,0,0,.4)
}
.pcv_button.saddlebrown:hover{background:#bb5a0c}

.pcv_button.red{
border-color:#9e0b0f;
background:#e41d24;
background:-moz-linear-gradient(top,#fb4e55 0,#d7020a 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fb4e55),color-stop(100%,#d7020a));
background:-webkit-linear-gradient(top,#fb4e55 0,#d7020a 100%);
background:-o-linear-gradient(top,#fb4e55 0,#d7020a 100%);
background:-ms-linear-gradient(top,#fb4e55 0,#d7020a 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb4e55',endColorstr='#d7020a',GradientType=0);
background:linear-gradient(top,#fb4e55 0,#d7020a 100%);
color:#fff!important;
text-shadow:0 -1px 0 rgba(0,0,0,.4)
}
.pcv_button.red:hover{background:#fb4e55}

.pcv_button.darkred{
border-color:#810b01;
background:#bc1a02;
background:-moz-linear-gradient(top,#bc1a02 0,#660500 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#bc1a02),color-stop(100%,#660500));
background:-webkit-linear-gradient(top,#bc1a02 0,#660500 100%);
background:-o-linear-gradient(top,#bc1a02 0,#660500 100%);
background:-ms-linear-gradient(top,#bc1a02 0,#660500 100%);
background:linear-gradient(top,#bc1a02 0,#660500 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc1a02',endColorstr='#660500',GradientType=0);
color:#fff!important;
text-shadow:0 -1px 0 rgba(0,0,0,.4)
}
.pcv_button.darkred:hover{background:#bc1a02}

.pcv_button.pink{
border-color:#8f2761;
background:#bd5094;
background:-moz-linear-gradient(top,#bd5094 0,#70204c 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#bd5094),color-stop(100%,#70204c));
background:-webkit-linear-gradient(top,#bd5094 0,#70204c 100%);
background:-o-linear-gradient(top,#bd5094 0,#70204c 100%);
background:-ms-linear-gradient(top,#bd5094 0,#70204c 100%);
background:linear-gradient(top,#bd5094 0,#70204c 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bd5094',endColorstr='#70204c',GradientType=0);
color:#fff!important;
text-shadow:0 -1px 0 rgba(0,0,0,.4)
}
.pcv_button.pink:hover{background:#bd5094}

.pcv_button.black{
border-color:#000;
background:#111;
background:-moz-linear-gradient(top,#4f4f4f 0,#030303 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#4f4f4f),color-stop(100%,#030303));
background:-webkit-linear-gradient(top,#4f4f4f 0,#030303 100%);
background:-o-linear-gradient(top,#4f4f4f 0,#030303 100%);
background:-ms-linear-gradient(top,#4f4f4f 0,#030303 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f4f4f',endColorstr='#030303',GradientType=0);
background:linear-gradient(top,#4f4f4f 0,#030303 100%);
color:#eee!important;
text-shadow:0 -1px 0 rgba(0,0,0,.8)}
.pcv_button.black:hover{background:#4f4f4f}

.pcv_button.purple{
border-color:#350d4c;
background:#7933ac;
background:-moz-linear-gradient(top,#9655c6 0,#661e9b 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#9655c6),color-stop(100%,#661e9b));
background:-webkit-linear-gradient(top,#9655c6 0,#661e9b 100%);
background:-o-linear-gradient(top,#9655c6 0,#661e9b 100%);
background:-ms-linear-gradient(top,#9655c6 0,#661e9b 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9655c6',endColorstr='#661e9b',GradientType=0);
background:linear-gradient(top,#9655c6 0,#661e9b 100%);
color:#fff!important;
text-shadow:0 -1px 0 rgba(0,0,0,.6)
}
.pcv_button.purple:hover{background:#9655c6}

.pcv_button.gray{
border-color:#656565;
background:#888;
background:-moz-linear-gradient(top,#adadad 0,#707070 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#adadad),color-stop(100%,#707070));
background:-webkit-linear-gradient(top,#adadad 0,#707070 100%);
background:-o-linear-gradient(top,#adadad 0,#707070 100%);
background:-ms-linear-gradient(top,#adadad 0,#707070 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#adadad',endColorstr='#707070',GradientType=0);
background:linear-gradient(top,#adadad 0,#707070 100%);
color:#fff!important;
text-shadow:0 -1px 0 rgba(0,0,0,.3)}
.pcv_button.gray:hover{background:#adadad}

.pcv_button.darkgray{
border-color:#21272d;
background:#646c75;
background:-moz-linear-gradient(top,#646c75 0,#2c333a 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#646c75),color-stop(100%,#2c333a));
background:-webkit-linear-gradient(top,#646c75 0,#2c333a 100%);
background:-o-linear-gradient(top,#646c75 0,#2c333a 100%);
background:-ms-linear-gradient(top,#646c75 0,#2c333a 100%);
background:linear-gradient(top,#646c75 0,#2c333a 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#646c75',endColorstr='#2c333a',GradientType=0);
color:#fff!important;
text-shadow:0 -1px 0 rgba(0,0,0,.3)
}
.pcv_button.darkgray:hover{background:#646c75}

.pcv_button.silver{
border-color:#727272;
background:#d2d2d2;
background:-moz-linear-gradient(top,#d2d2d2 0,#a5a5a5 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#d2d2d2),color-stop(100%,#a5a5a5));
background:-webkit-linear-gradient(top,#d2d2d2 0,#a5a5a5 100%);
background:-o-linear-gradient(top,#d2d2d2 0,#a5a5a5 100%);
background:-ms-linear-gradient(top,#d2d2d2 0,#a5a5a5 100%);
background:linear-gradient(top,#d2d2d2 0,#a5a5a5 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2d2d2',endColorstr='#a5a5a5',GradientType=0);
color:#fff!important;
text-shadow:0 -1px 0 rgba(0,0,0,.3)
}
.pcv_button.silver:hover{background:#d2d2d2}

.portfolio-items li div.caption h3,.portfolio-items li div.caption2 h3,.portfolio-items li div.caption3 h3,.portfolio-items li div.caption4 h3,.portfolio-items li div.caption5 h3,.portfolio-items li div.caption6 h3,.portfolio-items li div.caption7 h3,.portfolio-items li div.caption8 h3,.portfolio-items li div.caption9 h3,.portfolio-items li div.caption10 h3,.portfolio-items li div.caption11 h3,.portfolio-items li div.caption12 h3,.portfolio-items li div.caption13 h3,.portfolio-items li div.caption14 h3,.portfolio-items li div.caption15 h3 {
font-weight:700;
font-size:16px;
text-transform:uppercase;
padding-bottom:5px;
margin-bottom:10px;
border-bottom:1px solid #aaa;
text-shadow:1px 1px 1px #303857;
}

.portfolio-items li div.caption,.portfolio-items li div.caption2,.portfolio-items li div.caption3,.portfolio-items li div.caption4,.portfolio-items li div.caption5,.portfolio-items li div.caption6,.portfolio-items li div.caption7,.portfolio-items li div.caption8,.portfolio-items li div.caption9,.portfolio-items li div.caption10,.portfolio-items li div.caption11,.portfolio-items li div.caption12,.portfolio-items li div.caption13,.portfolio-items li div.caption14,.portfolio-items li div.caption15 {
display:block;
background:rgba(0,0,0,0.7);
color:#fff;
font-family:Arial,sans-serif;
font-weight:400;
font-size:11px;
position:absolute;
overflow:hidden;
text-shadow:1px 1px 1px #303857;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .3s ease-in-out;
-moz-transition:all .3s ease-in-out;
-o-transition:all .3s ease-in-out;
-ms-transition:all .3s ease-in-out;
transition:all .3s ease-in-out;
padding:10px;
}

.portfolio-items li:hover div.caption,.portfolio-items li:hover div.caption2,.portfolio-items li:hover div.caption3,.portfolio-items li:hover div.caption4,.portfolio-items li:hover div.caption5,.portfolio-items li:hover div.caption6,.portfolio-items li:hover div.caption7,.portfolio-items li:hover div.caption8,.portfolio-items li:hover div.caption9,.portfolio-items li:hover div.caption10,.portfolio-items li:hover div.caption11,.portfolio-items li:hover div.caption12,.portfolio-items li:hover div.caption13,.portfolio-items li:hover div.caption14,.portfolio-items li:hover div.caption15 {
width:181px;
height:130px;
opacity:1;
filter:alpha(opacity=80);
}

.portfolio-items li div.caption {
top:7px;
right:7px;
width:0;
height:0;
}

.portfolio-items li div.caption2 {
top:7px;
left:7px;
width:0;
height:0;
}

.portfolio-items li div.caption3 {
bottom:7px;
right:7px;
width:0;
height:0;
}

.portfolio-items li div.caption4 {
bottom:7px;
left:7px;
width:0;
height:0;
}

.portfolio-items li div.caption5 {
top:7px;
left:7px;
width:0;
height:130px;
}

.portfolio-items li div.caption6 {
top:7px;
right:7px;
width:0;
height:130px;
}

.portfolio-items li div.caption7 {
top:7px;
left:7px;
width:181px;
height:0;
}

.portfolio-items li div.caption8 {
bottom:7px;
right:7px;
width:181px;
height:0;
}

.portfolio-items li div.caption10 {
bottom:7px;
right:7px;
width:0;
height:0;
-moz-transform:rotate(90deg);
-webkit-transform:rotate(90deg);
}

.portfolio-items li div.caption11 {
top:7px;
left:7px;
width:0;
height:0;
-moz-transform:rotate(-90deg);
-webkit-transform:rotate(-90deg);
}

.caption12 h3 {
filter:alpha(opacity=0);
opacity:0;
-webkit-transform:scale(10);
-moz-transform:scale(10);
-o-transform:scale(10);
-ms-transform:scale(10);
transform:scale(10);
-webkit-transition:all .3s ease-in-out .1s;
-moz-transition:all .3s ease-in-out .1s;
-o-transition:all .3s ease-in-out .1s;
-ms-transition:all .3s ease-in-out .1s;
transition:all .3s ease-in-out .1s;
}

.caption12 p {
filter:alpha(opacity=0);
opacity:0;
-webkit-transform:scale(10);
-moz-transform:scale(10);
-o-transform:scale(10);
-ms-transform:scale(10);
transform:scale(10);
-webkit-transition:all .3s ease-in-out .2s;
-moz-transition:all .3s ease-in-out .2s;
-o-transition:all .3s ease-in-out .2s;
-ms-transition:all .3s ease-in-out .2s;
transition:all .3s ease-in-out .2s;
}

.caption12 a.pcv_button {
-webkit-transform:translateY(100px);
-moz-transform:translateY(100px);
-o-transform:translateY(100px);
-ms-transform:translateY(100px);
transform:translateY(100px);
}

.caption12:hover a.pcv_button {
-webkit-transform:translateY(0px);
-moz-transform:translateY(0px);
-o-transform:translateY(0px);
-ms-transform:translateY(0px);
transform:translateY(0px);
}

.caption13 h3 {
filter:alpha(opacity=0);
opacity:0;
-webkit-transform:scale(0);
-moz-transform:scale(0);
-o-transform:scale(0);
-ms-transform:scale(0);
transform:scale(0);
-webkit-transition:all .3s ease-in-out .1s;
-moz-transition:all .3s ease-in-out .1s;
-o-transition:all .3s ease-in-out .1s;
-ms-transition:all .3s ease-in-out .1s;
transition:all .3s ease-in-out .1s;
}

.caption13 p {
filter:alpha(opacity=0);
opacity:0;
-webkit-transform:scale(0);
-moz-transform:scale(0);
-o-transform:scale(0);
-ms-transform:scale(0);
transform:scale(0);
-webkit-transition:all .3s ease-in-out .2s;
-moz-transition:all .3s ease-in-out .2s;
-o-transition:all .3s ease-in-out .2s;
-ms-transition:all .3s ease-in-out .2s;
transition:all .3s ease-in-out .2s;
}

.caption14 h3 {
filter:alpha(opacity=0);
opacity:0;
-webkit-transform:translateY(-200px);
-moz-transform:translateY(-200px);
-o-transform:translateY(-200px);
-ms-transform:translateY(-200px);
transform:translateY(-200px);
-webkit-transition:all .6s ease-in-out;
-moz-transition:all .6s ease-in-out;
-o-transition:all .6s ease-in-out;
-ms-transition:all .6s ease-in-out;
transition:all .6s ease-in-out;
}

.caption14 p {
filter:alpha(opacity=0);
opacity:0;
-webkit-transform:translateY(200px);
-moz-transform:translateY(200px);
-o-transform:translateY(200px);
-ms-transform:translateY(200px);
transform:translateY(200px);
-webkit-transition:all .4s ease-in-out;
-moz-transition:all .4s ease-in-out;
-o-transition:all .4s ease-in-out;
-ms-transition:all .4s ease-in-out;
transition:all .4s ease-in-out;
}

.caption15 h3 {
filter:alpha(opacity=0);
opacity:0;
-webkit-transform:translateX(200px);
-moz-transform:translateX(200px);
-o-transform:translateX(200px);
-ms-transform:translateX(200px);
transform:translateX(200px);
-webkit-transition:all .4s ease-in-out;
-moz-transition:all .4s ease-in-out;
-o-transition:all .4s ease-in-out;
-ms-transition:all .4s ease-in-out;
transition:all .4s ease-in-out;
}

.caption15 p {
filter:alpha(opacity=0);
opacity:0;
-webkit-transform:translateX(-200px);
-moz-transform:translateX(-200px);
-o-transform:translateX(-200px);
-ms-transform:translateX(-200px);
transform:translateX(-200px);
-webkit-transition:all .4s ease-in-out;
-moz-transition:all .4s ease-in-out;
-o-transition:all .4s ease-in-out;
-ms-transition:all .4s ease-in-out;
transition:all .4s ease-in-out;
}

.ctn_blue {
background:rgba(8,119,204,0.85)!important;
color:#fff!important;
}

.ctn_blue .pcv_button {
border:1px solid #0666B4!important;
}

.ctn_green {
background:rgba(93,140,0,0.85)!important;
color:#fff!important;
}

.ctn_green .pcv_button {
border:1px solid #607B0E!important;
}

.ctn_brown {
background:rgba(165,42,42,0.85)!important;
color:#fff!important;
}

.ctn_brown .pcv_button {
border:1px solid #7B1F1F!important;
}

.ctn_darkslategray {
background:rgba(72,61,139,0.85)!important;
color:#fff!important;
}

.ctn_darkslategray .pcv_button {
border:1px solid #3A3271!important;
}

.ctn_indianred {
background:rgba(215,96,96,0.85)!important;
color:#fff!important;
}

.ctn_indianred .pcv_button {
border:1px solid #B93636!important;
}

.ctn_white {
background:rgba(255,255,255,0.75)!important;
color:#333!important;
text-shadow:none!important;
}

.ctn_white h3 {
text-shadow:none!important;
}

.ctn_white .pcv_button {
border:1px solid #555!important;
}

.ctn_teal {
background:rgba(0,137,137,0.85)!important;
color:#fff!important;
}

.ctn_teal .pcv_button {
border:1px solid #007171!important;
}

.ctn_orange {
background:rgba(255,140,0,0.75)!important;
color:#fff!important;
}

.ctn_orange .pcv_button {
border:1px solid #CF7200!important;
}

.ctn_blueviolet {
background:rgba(138,43,226,0.75)!important;
color:#fff!important;
}

.ctn_blueviolet .pcv_button {
border:1px solid #6A21AE!important;
}

.ctn_pink {
background:rgba(255,105,180,0.80)!important;
color:#fff!important;
}

.ctn_pink .pcv_button {
border:1px solid #430073!important;
}

.ctn_indigo {
background:rgba(75,0,130,0.75)!important;
color:#fff!important;
}

.ctn_slateblue {
background:rgba(106,90,205,0.75)!important;
color:#fff!important;
}

.ctn_slateblue .pcv_button {
border:1px solid #5448A4!important;
}

.portfolio-items li div.caption9,.portfolio-items li div.caption12,.portfolio-items li div.caption13,.portfolio-items li div.caption14,.portfolio-items li div.caption15 {
bottom:7px;
right:7px;
width:181px;
height:130px;
}

.portfolio-items li:hover div.caption10,.portfolio-items li:hover div.caption11 {
bottom:7px;
right:7px;
width:181px;
height:130px;
opacity:1;
filter:alpha(opacity=80);
-moz-transform:rotate(0deg);
-webkit-transform:rotate(0deg);
}

.caption12,.caption13,.caption14,.caption15 {
background-color:rgba(146,96,91,0.5);
filter:alpha(opacity=0);
opacity:0;
-webkit-transition:all .3s ease-in .4s;
-moz-transition:all .3s ease-in .4s;
-o-transition:all .3s ease-in .4s;
-ms-transition:all .3s ease-in .4s;
transition:all .3s ease-in .4s;
}

.caption12:hover h3,.caption12:hover p,.caption13:hover h3,.caption13:hover p,.caption14:hover h3,.caption14:hover p,.caption15:hover h3,.caption15:hover p {
filter:alpha(opacity=100);
opacity:1;
-webkit-transform:scale(1);
-moz-transform:scale(1);
-o-transform:scale(1);
-ms-transform:scale(1);
transform:scale(1);
-webkit-transition-delay:.2s;
-moz-transition-delay:.2s;
-o-transition-delay:.2s;
-ms-transition-delay:.2s;
transition-delay:.2s;
}